<div id="footer" class="section">
            	<div class="footercol">
           	    <img style="padding:12px 0 0 45px;" src="images/logo_s.png" width="77" height="22" /></div>
              <div class="footercol">
               	<h5 class="fancy">Masmet</h5>
                 <ul>
               		  <li><a href="#">Home</a></li>
                   		<li><a href="#">About</a></li>
                   		<li><a href="#">Help</a></li>
                   		<li><a href="#">contact</a></li>
                        
                        <li><a href="#">Support</a></li>
                        
                 </ul>
                </div>
                <div class="footercol">
                	<h5 class="fancy">Support</h5>
                    <ul>
               		  <li><a href="#">Support</a></li>
                   		<li><a href="#">FAQs</a></li>
                   		<li><a href="#">Contact Us</a></li>
                   		
                 	</ul>
                 	<h5 class="fancy">Login</h5>
                    <ul>
               		  <li><a href="#">Login</a> | <a href="#">Sign Up</a></li>
                   	                    
                 </ul>
                </div>
                <div class="footercol">
                	<h5 class="fancy">What is Masmet</h5>
                    <p>Masmet beta</p>
                  
                </div>
                
            </div><!-- footer end -->